---
main:
  name: netapp-connector-main
  replicaCount: 1
  image:
    repository: ghcr.io/netapp/netapp-copilot-connector
    tag: ""
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8080
  ingress:
    enabled: false
    host:
    path: /
    pathType: Prefix
    className:
  env:
    PORT: 8080
    PYTHONUNBUFFERED: 1
    DB_PATH: "data/database.db"
    HTTPS_PROXY: ""
    PROXY_USERNAME: ""
    PROXY_PASSWORD: ""
    GRAPH_VERIFY_SSL: ""
    GRAPH_TIMEOUT: ""
    SSL_CERT_FILE: ""
    SSL_CERT_FILE_PATH: ""
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    size: 1Gi
    mountPath: /app/data
  credentials:
    MS_GRAPH_CONNECTOR_ID: "netappconnector"
    MS_GRAPH_CONNECTOR_DESCRIPTION: "The connector contains information contained in the on premises or on-prem file share server. This contains documents and files. These are of type DOC, DOCM, DOCX, DOT, DOTX, EML, GIF, HTML, JPEG, JPG, MHT, MHTML, MSG, NWS, OBD, OBT, ODP, ODS, ODT, ONE, PDF, PNG, POT, PPS, PPT, PPTM, PPTX, TXT, XLB, XLC, XLSB, XLS, XLSX, XLT, XLXM, XML, XPS, and ZIP."
    MS_GRAPH_CLIENT_ID: "tobeset"
    MS_GRAPH_CLIENT_SECRET: "tobeset"
    MS_GRAPH_TENANT_ID: "tobeset"
    NETAPP_CONNECTOR_LICENSE: "tobeset"
