apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.main.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "netapp-connector.name" . }}
    component: {{ .Values.main.name }}
data:
  PORT: {{ .Values.main.env.PORT | quote }}
  PYTHONUNBUFFERED: {{ .Values.main.env.PYTHONUNBUFFERED | quote }}
  DB_PATH: {{ .Values.main.env.DB_PATH | quote }}
  DB_TYPE: {{ .Values.main.env.DB_TYPE | quote }}
  HTTPS_PROXY: {{ .Values.main.env.HTTPS_PROXY | quote }} 
  PROXY_USERNAME: {{ .Values.main.env.PROXY_USERNAME | quote }}
  PROXY_PASSWORD: {{ .Values.main.env.PROXY_PASSWORD | quote }}
  GRAPH_VERIFY_SSL: {{ .Values.main.env.GRAPH_VERIFY_SSL | quote }}
  GRAPH_TIMEOUT: {{ .Values.main.env.GRAPH_TIMEOUT | quote }}
  SSL_CERT_FILE_PATH: {{ .Values.main.env.SSL_CERT_FILE_PATH | quote }}
