apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.main.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "netapp-connector.name" . }}
    component: {{ .Values.main.name }}
stringData:
  DATABASE_URL: {{ include "netapp-connector.databaseUrl" . | quote }}