apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.main.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "netapp-connector.name" . }}
spec:
  selector:
    app: {{ include "netapp-connector.name" . }}
  ports:
    - protocol: TCP
      port: {{ .Values.main.service.port }}
      targetPort: {{ .Values.main.env.PORT }}
  type: {{ .Values.main.service.type }}
